<div>
    <button>Calculate Age</button>
</div>
<h1>Angular Contact Application</h1>
<div>
    <h3>Your age is :36</h3>
</div>

<!-- This is sample message to display -->
<h1>Angular Contact Application</h1>

<!-- Here component logic will be displayed -->

<h3>Welcome to Angular world</h3>
<router-outlet></router-outlet>